body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* esto es de la imagen fondo principal */

.imagen{
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.divImagen{

    display: block;
    text-align: center;
}



